{% extends 'core/base.html' %}

{% block head %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"
    integrity="sha512-ElRFoEQdI5Ht6kZvyzXhYG9NqjtkmlkfYk0wr6wHxU9JEHakS7UJZNeml5ALk+8IKlU6jDgMabC3vkumRokgJA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock %}

{% block content %}
<h2>Dashboard</h2>
<!-- Content Row -->
<h5 class="mt-4 mb-3">Network Status @ {{ grid_datetime | date:"D d M Y" }} {{ grid_datetime }}</h5>
<div class="row">

    <!-- Total Generation -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Total Generation (GWh)</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                            {{ generation|floatformat:"2g" }}
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- Load Allocated -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                            Load Allocated (MW)</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{ allocation }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Load Taken -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                            Load Taken (MW)
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{ load_mw.load_mw|floatformat:"2g" }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Total Faults -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                            Total Faults</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">18</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Content Row -->

<div class="row">

    <!-- Area Chart -->
    <div class="col-xl-6 col-lg-6">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Hourly Load Allocated Vs. Load Taken</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">

                {% autoescape off %}
                {{ line_chart }}
                {% endautoescape %}

            </div>
        </div>
    </div>

    <!-- Pie Chart -->
    <div class="col-xl-6 col-lg-6">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Hourly Load by Load Centers</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                {% autoescape off %}
                {{ bar_chart }}
                {% endautoescape %}
            </div>
        </div>
    </div>
</div>
{% endblock %}